.search {
    display: inline;
    border: 1px solid #ccc;
    border-radius: 100px;
    color: #A3A3A3;
    padding: 10px 5px;
    transition: background-color 0.5 ease-in-out;
}

.search input {
    border: 0;
    color: #A3A3A3;
    background-color: transparent;
    width: 200px;
}

.search input:focus {
    outline: none;
}

.search button,
.search i {
    border: none;
    background: none;
    cursor: pointer;
}

.search select {
    border: none;
}

.wrapperSelect input::-webkit-calendar-picker-indicator {
    opacity: 100;
}